
body {
    font-family: 'Roboto';
}

/** navbar section **/
.nav-section{
    height: 70px;
}

.logo-img{
    height: 70px;
    width: 120px;
    margin: 0% 50px;
}

.nav-items{
    font-size: large;
    margin: 0 30px;
    padding-left: 30px;
}

.navbar-toggler{
    margin-right: 20px;
}

@media(max-width: 1000px){
    .logo-img{
        height: 50px;
        width: 80px;
        margin: 0 30px;
    }
}


/*footer section */

#footer{
    background-color: #101728;
    width: 100%;
    margin-bottom: 0%;
    color: darkgray;
}

.footer-row{
    text-align: left;
    width: 90%;
    margin: auto;
    line-height: 2;
    padding-bottom: 10px;
}

.payment-method-img{
    height: 20px;
    width: 40px;
    margin: 10px 3px;
}

.footer-row h5{
    padding: 20px 0 10px 0;
    color: orange;
}

.copyright{
    background-color: #101728;
    text-align: center;
    font-size: small;
}

.copyright p{
    margin-bottom: 0%;
    padding-bottom: 20px;
    font-size: 0.05;
}

.nav-link:hover{
    color: wheat;
}

.footer-hr{
    margin: auto;
}


/****** PRICING PAGE SECTION ******/


/** title secton **/

.title{
    background-color: #101728;
    color: #fff;
    height: 200px;
    margin: 0;
}

.big-heading{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 40px;
    line-height: 2.5;
    padding: 50px;
}

@media(max-width: 1000px) {
    .big-heading{
        padding: 30px;
        font-size: 30px;
    }
    .title{
        height: 150px;
    }

}



/** plan-pricing section **/

#plan-pricing{
    text-align: center;
    width: 90%;
    margin: auto;
    color: #101728;
}

.plan-heading{
    font-family: 'Roboto';
    font-size: 40px;
    padding-top: 80px;
    padding-bottom: 20px;
}

.icon-img{
    height: 100px;
    margin: 20px;
}

.plan-p{
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
}

@media(max-width: 1000px) {
    .plan-heading{
        font-size: 25px;
    }
}

/** get-started section **/

#get-started{
    text-align: center;
    color: #fff;
    height: 250px;
}

.get-started-heading{
    padding-top: 50px;
    padding-bottom: 20px;
}



/****** ABOUT US PAGE SECTION ******/
.about-title{
    width: 80%;
    margin: auto;
    padding: 100px 0px;
}

.pc-girl{
    height: 300px;
    width: 500px;
    margin-top: 100px;
}

.about-p{
    line-height: 2;
    font-family: 'Roboto';
    font-size: 1.2rem;
}

@media(max-width: 1000px) {

    .about-title{
        width: 97%;
        margin: auto;
        padding: 0%;
    }

    .pc-girl{
        width: 95%;
        height: 250px;
        margin: 80px 0;
        padding: 0;
    }

    .about-title{
        margin-bottom: 80px;
    }
}


/**** CONTACT-US PAGE SECTION *****/

 h3{
    text-align: center;
    margin: 50px;
}

#contact .row{
    width: 80%;
    margin: auto;
    margin: 80px;
}


#contact tr td:first-child{
    padding-right: 20px;
}

#contact tr td{
    padding-top: 20px;
    font-weight: 500;
}

#contact .icon{
    margin-right: 5px;
    color: #101728;
}

#contact input, textarea{
    width: 530px;
    height: 52px;
    background: #eef3f6;
    border: none;
    font-size: 12px;
    margin-bottom: 15px;
    padding: 15px 30px;
    font-style: italic;
}
#contact textarea{
    margin-bottom: 30px;
    height: 200px;
}

#contact button{
    background: #101728;
    color: #fff;
    display: block;
    width: 150px;
    height: 50px;
    border: none;
    border-bottom: 3px solid #ccc;
}

@media(max-width: 1000px){

    #contact input{
        width: 100%;
    }

    #contact .col-right{
        margin-top: 80px;
    }

    #contact .row{
        width: 95%;
        margin: auto;
        margin-bottom: 100px;
    }
    
    
}


/******* FAQ PAGE *******/

#FAQ{
    height: 700px;
    width: 90%;
    margin: auto;
    margin-left: 150px;
    padding-top: 100px;
    color: #101728;
}

#FAQ h3{
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 20px;
}

#FAQ input, textarea{
    width: 530px;
    height: 52px;
    background: #eef3f6;
    border: none;
    font-size: 12px;
    margin-bottom: 15px;
    padding: 15px 30px;
    font-style: italic;
}

#FAQ textarea{
    margin-bottom: 30px;
    height: 200px;
}

#FAQ button{
    background: #101728;
    color: #fff;
    display: block;
    width: 150px;
    height: 50px;
    border: none;
    border-bottom: 3px solid #ccc;
}

@media(max-width: 1000px){
    #FAQ{
        width: 93%;
        margin: auto;
    }

    #FAQ input, textarea{
        width: 100%;
    }
}

