
body{
    background-color: #101728;
    color: #ffff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    
}

.green-img{
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
}

/* navbar */

h1{
    font-family: 'Roboto';
    
}

.logo{
    height: 50px;
    width: 80px;
    margin-left: 20px;
}

.nav-button{
    margin: 5px 8px;
}

.widget{
    background-color: #101728;
}

/* title section */
#title{
    width: 98%;
    margin: auto;
}
.title-row{
    text-align: left;
    margin-left: 50px;
}
.big-heading{
    line-height: 1.5;
    font-size: 3.5rem;
    width: 80%;
    margin: 20px;
}

.header-container{
    background-color: #260e69;
    width: 30%;
    height: 165px;
    border-radius: 15%;
    margin: 10px;
    display: inline-block;
    text-align: center;
    padding-top: 12px;
}


.title-p{
    width: 70px;
    margin: auto;
}

.pc-img{
    width: 90%;
    margin: auto;
    position: relative;
    right: 50px;
    top: 60px;
}


.slideInLeft{
    animation: slideInLeft 1s ease-in;
}

/* heading animation */

@keyframes slideInLeft {
    from {
        transform: translateX(-300px);
    }
    
    to {
        transform: translateX(0px);
    }
}

/* backgroun animation start here */

.bg {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.bg, canvas {
	display: block;
}

/* backgroun animation end here */


/* how it works */
#HIW{
    margin: auto;
    background-color: #fff;
    color: #101728;
}

.hiw-heading{
    padding-top: 50px;
    font-size: 2rem;
    font-family: 'Roboto';
}

.row-box{
    width: 90%;
    margin: auto;
    line-height: 1.5;
    padding-bottom: 50px;
}


/* crypto-live-prices */

#crypto-live-prices{
    background-color: #101728;
    position: relative;
    bottom: 40px;
}

.crypto-live-prices-heading{
    font-family: 'Roboto';
    margin-bottom: 30px;
    padding-top: 30px;
}


/* award-section */
#award-section{
    text-align: center;
    line-height: 1.5;
}
.award-heading{
    padding: 50px;
    font-family: 'Roboto';
    font-size: 2rem;
}

.award-row{
    width: 95%;
    margin-left: 25px;
    
}
.award-img{
    width: 18%;
    height: 40%;
    margin-bottom: 10px;
}

/* platform-advantage-section */

#platform-advantage{
    background-color: #fff;
    color: #101728;
    padding-bottom: 40px;
}

.platform-advantage-heading{
    padding-top: 50px;
    font-size: 2rem;
    font-family: 'Roboto';
}

.platform-advantage-row{
    width: 95%;
    margin: auto;
}

#platform-advantage .green-img{
    margin-top: 40px;
}

/* testimonial section */

#testimonials {
    text-align: center;
    padding: 4%;
    background-color: #101728;
    line-height: 2;
}

.testimonial-heading{
    font-family: 'Roboto';
    font-size: 2rem;
}

.testimonial-img{
    border-radius: 100%;
    margin: 20px;
}
.star-icon{
    color: yellowgreen;
}
.company-name{
    color: orange;
}

.carousel-p{
    width: 60%;
    margin: auto;
    padding-bottom: 30px;
}

/*Get started section 

#get-started{
    background-color: #fff;
    color: #101728;
    text-align: center;
}

.payment-method-heading{
    font-family: 'Roboto';
    font-size: 2.5rem;
    padding-top: 20px;
}
*/
/*footer section */

#footer{
    background-color: #101728;
    width: 100%;
    margin-bottom: 0%;
    color: darkgray;
}

.footer-row{
    text-align: left;
    width: 90%;
    margin: auto;
    line-height: 2;
    padding-bottom: 10px;
}

.payment-method-img{
    height: 20px;
    width: 40px;
    margin: 10px 3px;
}

.footer-row h5{
    padding: 20px 0 10px 0;
    color: orange;
}

.copyright{
    background-color: #101728;
}

.copyright p{
    margin-bottom: 0%;
    padding-bottom: 20px;
    font-size: 0.05;
}

.nav-link:hover{
    color: wheat;
}

.footer-hr{
    margin: auto;
}

.copyright{
    font-size: small;
}
@media(max-width: 1000px) {
    .big-heading{
        width: 100%;
        margin: auto;
    }

    .title-row{
        text-align: center;
        margin: auto;
    }

    .header-container{
        margin: 3px;
    }

    .container-row{
        margin: auto;
        padding-left: 30px;
    }

    .pc-img{
        position: static;
        padding-top: 20px;
    }
}